@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Instrument+Serif:ital@0;1&family=Plus+Jakarta+Sans:wght@600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Instrument Serif", serif;
  --font-display: "Plus Jakarta Sans", sans-serif;
  
  --color-brand-bg: #faf9f6;
  --color-brand-dark: #1c1c1c;
  --color-brand-text: #18181b;
  --color-brand-textLight: #71717a;
  --color-brand-yellow: #fef3c7;
  --color-brand-green: #d2fec7;
  --color-brand-red: #ffe4e6;
  --color-brand-orange: #ffe9d3;
  
  --shadow-card: 0 10px 30px -10px rgba(0, 0, 0, 0.05);
  --shadow-button: 0px 13.073px 13.073px 0px rgba(11, 32, 103, 0.05), 0px 1.868px 3.735px 0px rgba(11, 32, 103, 0.14), 0px 48.673px 64.897px 0px rgba(0, 0, 0, 0.03);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  color: var(--color-brand-dark);
}

.text-balance {
  text-wrap: balance;
}
